body {
  font-family: sans-serif;
  background: #f8f9fa;
  padding: 2rem;
}

.report-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 400px;
}

input{
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

select {
  width: 92%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.check-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: nowrap;     
  white-space: nowrap;   
}


.check-item span {
  flex: 1;
}

form {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.check-item span {
  flex: 2; 
}

.check-item label {
  margin-right: 12px; 
  display: flex;
  align-items: center;
  gap: 4px;  
}